/* Font family   */
/* Fonts: Dancing Script  */
font-family: 'Dancing Script', cursive;
/* Font: Poppins  */
*{
    font-family: 'Poppins', sans-serif;
}
/* Header styles  */
#brand-name{
    font-family: 'Dancing Script', cursive;
}
.brand-name{
    color: red;
}
#logo{
    height: 35px;
    width: 310px;
}
#carousel-container{
    width: 1440px;
    height: 585px ;
}
/* Header styles ends  */
/* <!-- Our Services section styles --> */
.our-services{
    background-color: rgb(248, 218, 234);
    border-radius: 15px;
}
#services-img{
    width: 250px;
    height: 250px;
}
#services-img-2{
    width: 250px;
    height: 250px;
}
#services-img-3{
    width: 250px;
    height: 250px;
}
#services-img-4{
    width: 250px;
    height: 250px;
}

/* <!-- Our Services section styles ends --> */
 /* Our packages container styles  */
 .packages-header{
     color: rgb(253, 73, 73);
 }
.list-none{
    text-decoration: none;
    list-style: none;
}
.bg-highlight{
     background-color: rgb(245, 122, 208);
     border-radius: 15px;
}
.services{
    border-radius: 15px ;
}
#btn-royal:hover{
   color: rgb(2, 2, 158);
}
/* Our packages styles ends  */
/* Client Review part styles */
.client-heading{
    color: rgb(160, 40, 156);
}
.client-review{
    border-radius: 15px;
}
.client-review:hover{
    background-color: rgb(171, 216, 245);
}
/* Client Review part styles ends */
/* Frequently Asked Questions Styles  */
.text-color{
    color: midnightblue;
}
/* Frequently Asked Questions Styles Ends */