/* Font family   */
/* Fonts: Dancing Script  */
font-family: 'Dancing Script', cursive;
/* Font: Poppins  */
*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    font-family: 'Dancing Script', cursive; 
}